.box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

.outerbox {
    display: block;
}

.td img {
    height: 40px;
}

.header {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: rgb(40, 28, 28);
    color: whitesmoke;
}

.table {
    margin-left: 20px;
}